<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1s" stopProcessing="true">
          <match url="\.(gif|jpe?g|png|bmp|jpg|svg)"  ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="//static/img/fontawesome-webfont.912ec66.svg"  />
        </rule>
        <rule name="SPA Rule 1" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
